<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
</head>
<body>

    <header>

    </header>

    <main>
        
        <form method="POST" action="/products/crearProducto" >
            <!-- aqui no enctype="multipart/form-data" -->         
            <label for="referencia">nombreProducto</label>
            <input name="referencia" type="text" placeholder="nombreProducto">
            <label for="fabricante">fabricante</label>
            <input name="fabricante" type="text" placeholder="fabricante">
            <label for="descripcion">descripcion</label>
            <input name="descripcion" type="text" placeholder="descripcion de producto">
            <!-- atencion pendiente subir archivos multer-->
            <label for="image"></label>
            <input type="file" name="image" id="image">

            <label for="categoríaProducto">categoria</label>            
                <select name="category">
                    <!-- CategoriasProd es de vistaCrear: en productsController.js -->
                    <% for (let i = 0 ; i< CategoriasProd.length ; i++) { %>
                    <option value="<%= CategoriasProd[i].id%>"><%= CategoriasProd[i].nombre%></option> 
                    
                    <% } %>
                </select>
            <!-- <input type="checkbox" name="" id=""> -->
            
            <label for="precioProducto"></label>
            <input name="precio" type="number" placeholder="precioProducto">
            <label for="stock"></label>
            <input name="stock" type="number" placeholder="stock">
                <button type="submit">Actualizarpepe</button>
                
        </form>
       
    </main>

    <footer>

    </footer>
    
</body>
</html>